body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(126, 93, 43);
}
#h4-div {
  display: none;
  margin: 0;
  padding: 0;
}
#h4-div h4 {
  color: rgb(11, 224, 11);
  font-size: large;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#select-div {
  width: 60%;
  height: 7%;
  display: none;
}
#dropdown {
  width: 100%;
  height: 100%;
  border: 0;
}
.display {
  width: 100%;
  display: flex;
}
.display input {
  width: 100%;
  font-size: 30px;
  border-radius: 0px;
  background-color: white;
  color: black;
}
main {
  background-color: blanchedalmond;
  padding: 5%;
  border-radius: 10%;
  gap: 5%;
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 100%;
}
.first-mini-div {
  height: 100%;
  width: 75%;
  /* margin: 0;
  padding: 0; */
}
.second-mini-div {
  width: 25%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  column-gap: 10%;
}
span {
  width: 100%;
  height: 100%;
}
.first-mini-div input {
  width: 32%;
}
.first-mini-div input:hover {
  animation-name: spin;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.second-mini-div input {
  width: 100%;
}
.second-mini-div input:hover {
  animation-name: spin;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.equal {
  height: 120px;
}
input {
  height: 60px;
  font-size: 20px;
  background-color: rgb(98, 0, 255);
  border-width: 1px;
  border-color: white;
  border-radius: 10%;
  color: white;
}
@media (max-width: 299px) {
  main {
    width: 100%;
    height: 75%;
  }
}
@media (max-width: 550px) {
  main {
    width: 100%;
  }
  #h4-div {
    display: none;
    flex-shrink: 1;
    margin: 0;
    padding: 0;
  }
  #h4-div h4 {
    color: rgb(11, 224, 11);
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }
  .first-mini-div input {
    width: 30%;
    font-size: 15px;
    font-weight: 600;
  }
  .second-mini-div input {
    width: 100%;
    font-size: 15px;
    font-weight: 600;
  }
}
@keyframes spin {
  0% {
    scale: 2;
  }
  50% {
    transform: rotateY(-180deg);
  }
  100% {
    transform: rotateY(360deg);
    border-color: white;
    border-radius: 20%;
    background-color: rgb(188, 9, 204);
  }
}
